# needed for python >= 3.6
sudo: required
dist: xenial
# ---
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8-dev"
install:
  - pip install hypothesis
  - pip install .
  # (note: pytest already available in travis, breaks if we install our own)
script: pytest
